.wrapper {
  padding: rem(14) 0 rem(12);
  // position: fixed;
  // top: 0;
  border-bottom: 1px solid var(--light-gray);
  width: 100%;

  @include mq($from: tablet) {
    padding: rem(28) 0 rem(24);
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo,
.menu,
.cart {
  white-space: pre-line;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

.menu {
  padding-right: rem(46);
}